/* Global styles */
/*-----------------------------------------------------*/
.h, .H {
  overflow: hidden;
}

.I {
  display: none;
}

.L {
  float: left;
}

.R {
  float: right;
}

.C {
  height:1px;
  overflow:hidden;
  clear:both;
}

/*a.in_link, a.in_link:hover, a.in_link:active {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  text-decoration: none;
}

a.no_line.selected span {
  border-bottom-color: #fff;
}

a.in_link span {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

a.no_line, #top-menu li a, #top-menu li a span {
  border-bottom: none;
}*/


div.loader {
  width: 16px;
  height: 16px;
  background-image: url(../images/mw_load.gif);
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  margin-bottom: -4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.big_loader {
  width: 60px;
  height: 60px;
  background-image: url(../images/big_loader.gif);
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loader.form_loader {
  margin: 70px auto;
  display: block;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.loader.form_default_loader {
  margin: 0 auto;
  display: block;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.big_loader.form_loader {
  width: 100%;
  height: 100%;
  min-height: 200px;
}


/* ------ for iframe in-bootstrap ----*/
.modal-iframe {
  display: block;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}


/* ------ tooltip style walkaround ----*/

div.tooltip.in {
 opacity: 1;
 filter: alpha(opacity=100);
}

div.issue.tooltip {
 opacity: 1;
 filter: alpha(opacity=100);
 position: relative;
 z-index: auto;
}

span.tip {
  z-index: 2000;
}


div.tooltip {
  font-size: 12px;
}

div.tooltip-inner {
  max-width: 650px;
  text-align: left;
}

div.tooltip-inner {
  background-color: #F8F8CC;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  color: #000;
}

.tooltip.right div.tooltip-arrow {
  border-right-color: #F8F8CC;
}
div.tooltip.bottom div.tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #F8F8CC;
}


/* ------ tooltip style walkaround ends ----*/


/* ---- Redmine tabs fix. Not only in content ---- */

:not(#main-menu).tabs {height: 2.6em; margin-bottom:1.2em; position:relative; overflow:hidden;}

:not(#main-menu).tabs ul {margin:0; position:absolute; bottom:0; padding-left:0.5em; width: 2000px; border-bottom: 1px solid #bbbbbb;}


:not(#main-menu).tabs ul li a{
  display:block;
  font-size: 0.9em;
  text-decoration:none;
  line-height:1.3em;
  padding:4px 6px 4px 6px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbbbbb;
  background-color: #f6f6f6;
  color:#999;
  font-weight:bold;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

:not(#main-menu).tabs ul li a:hover {
  background-color: #ffffdd;
  text-decoration:none;
}

:not(#main-menu).tabs ul li a.selected {
  background-color: #fff;
  border: 1px solid #bbbbbb;
  border-bottom: 1px solid #fff;
  color: #444;
}

:not(#main-menu).tabs ul li {
  float:left;
  list-style-type:none;
  white-space:nowrap;
  margin-right:4px;
  background:#fff;
  position:relative;
  margin-bottom:-1px;
}

/* ---- Redmine tabs fix ends ---- */

.select2-spinner {
  background: #fff url('../images/select2-spinner.gif') no-repeat 100%;
  background: url('../images/select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('../images/select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('../images/select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url('../images/select2-spinner.gif') no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url('../images/select2-spinner.gif') no-repeat 100%, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
  background: url('../images/select2-spinner.gif') no-repeat 100%, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}


a.select2-search-choice-close,
a.select2-search-choice-close:hover,
a.select2-search-choice-close span,
a.select2-search-choice-close:hover span {
  text-decoration: none;
  border: none;
}

/* ---- Ajax counter style----*/
span.count{
  background-color: #077C10;
  padding: 0 4px 0 4px;
  position: relative;
  top: -2px;
  border-radius: 8px 8px;
  left: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 7.5pt;
  font-weight: bold;
  margin-right: 5px;
  color: #FFF;
}

span.count:hover {
  background-color: #077C10 !important;
  color: #FFF;
}

#top-menu a span.count.updated {
  background-color: #76a8d7;
}

#top-menu a span.count.unread {
  background-color: #c3e26b;
}

table.rmp_form_table
  {
  border-spacing: 0;
  border-collapse: collapse;
  }

table.rmp_form_table td {
  border: 1px solid #EFEFEF;
  padding: 10px;
  vertical-align: top;
}

table.rmp_form_table td:first-child {
  text-align: right;

}

.rmplus_date_links {
  overflow: hidden;
}

.rmplus_date_links a {
  display: block;
  padding: 3px;
  float: left;
}

.rmplus_date_links a.current {
  padding: 2px;
}

.rmplus_date_links span.arr {
  float: left;
  display: block;
  font-size: 17px;
  margin: 0 5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#content > .contextual > .rmplus_date_links {
  display: block;
  float: left;
  line-height: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
}
#content > .contextual > .rmplus_date_links > a {
  padding: 0 2px;
}
#content > .contextual > .rmplus_date_links {
  margin: 0;
  margin-left: 5px;
}
#content > .contextual > .rmplus_date_links {
  margin-left: 8px;
  float: right;
  margin-top: -5px;
}

td.ordered-hndl{
  cursor: move;
  text-align: center;
  padding: 0 5px;
  width: 10px;
  color: #aaa;
  font-size: 12pt;
}

.hint:after, [data-hint]:after{
  z-index: 100 !important;
}
.hint:before, [data-hint]:before{
  z-index: 110 !important;
}

span.ac_counter:empty {
  display: none;
}
#top-menu li a span.ac_counter,
span.ac_counter {
  background-color: #077C10;
  padding: 0 4px 0 4px;
  position: relative;
  top: -2px;
  border-radius: 8px 8px;
  left: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 7.5pt;
  font-weight: bold;
  margin-right: 5px;
  color: #fff;
  border-bottom-style: none;
}
a:hover span.ac_counter {
  color: #fff;
}
.al-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.al-btn-success, .al-btn-success span, .al-btn-success:hover {
  color: #FFF !important;
  background-color: #47a447;
  border-color: #fff;
  border-bottom-color: #fff !important;
}

.lb_close { float:right;font-size:20px;font-weight:bold;line-height:20px;color:#000000;text-shadow:0 1px 0 #ffffff;opacity:0.2;filter:alpha(opacity=20);}
.lb_close:hover,
.lb_close:focus{color:#000000;text-decoration:none;cursor:pointer;opacity:0.4;filter:alpha(opacity=40); }
button.lb_close{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;}

a.lu_img, .lu_img {
  background-position: 3px 50%;
  background-repeat: no-repeat;
  padding-left: 24px;
  background-size: 16px auto;
}

a.lu_img.rm-icon, .lu_img.rm-icon {
  padding-left: 5px;
  background-size: auto;
}

.acl_picker_today{
  background: #BBDEFB;
}

a.list_other_values{
  font-size: 8pt;
}

a.list_other_values.lh{
  line-height: 25px;
}

.select2-container .select2-dropdown {
  z-index: 1110;
}

.select2-container--default.select2-container--focus .selection .select2-selection--multiple {
  border: 1px solid #aaa;
}

/*.select2-container--default .select2-selection.select2-selection--multiple .select2-search--inline .select2-search__field {*/
  /*width: 1000px!important;*/
/*}*/

div.journal span.private{
  bottom: auto;
  margin-right: 5px;
  margin-left: 2px;
}

