.icon.icon-inform {
  background-image: url(../images/inform.png);
  padding: 0;
  padding-left: 15px;
}
.box.tabular.settings {
  overflow: hidden;
}

.tabular.settings table.plugin_settings label {
  margin-left: 0;
  width: inherit;
  font-weight: normal;
  float: inherit;
  text-align: inherit;
}

.rmp-settings-group td {
  font-weight: bold;
  background-color: #f3f3f3;
  border-left: none !important;
  border-right: none !important;
}

#settings .box {
  padding: 0;
  margin-bottom: 0;
  background-color: inherit;
  color: inherit;
  line-height: inherit;
  border-width: 0;
  word-wrap: break-word;
}

table.plugin_settings {
  border-spacing: 0;
  border-collapse: collapse;
}

table.plugin_settings td {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 10px;
  vertical-align: top;
}

table.plugin_settings tr > td:first-child {
  border-left-width: 0;
  text-align: right;
}
table.plugin_settings tr > td:last-child td {
  text-align: left;
}
table.plugin_settings tr > td:last-child {
  text-align: left;
}

table.plugin_settings tbody:last-child tr:last-child > td {
  border-bottom: none;
}
table.plugin_settings td td {
  border: none;
  text-align: left;
}
table.plugin_settings input, table.plugin_settings select {
  box-sizing: border-box;
}

.rmp-fast-link {
  margin-left: 5px;
}

input.main-form-button {
  font-size: 16pt;
}

textarea.rmp-full-size {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
}